<form>
  <div class="form-group">
    <label for="title">title</label>
    {{input value=title id="title" class="form-control" }}
  </div>

  <div class="form-group">
    <label for="body">body</label>
    {{textarea rows=5 id="body" value=body class="form-control" }}
  </div>

  <div class="form-group">
    <label for="price">price</label>
    {{input type="number" value=price id="price" class="form-control" }}
  </div>

  <div class="form-group">
    <label for="image">add a pic</label>
    {{input value=image id="image" class="form-control" }}
  </div>

  <ul class="list-inline">
    {{#each model as |model|}}
    <li {{action "sendToInput" model}} class="label label-default">{{model.name}}</li>
    {{/each}}
  </ul>

  <div class="form-group">
    <label for="category">Choose a category from above</label><br>
    {{input value=category id="category" class="form-control" readonly=true}}
  </div>

  <div class="row">
    <button class="btn btn-primary pull-right" {{action 'savePost'}} >Create</button>
  </div>
</form>
